<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      AdminLTE MEAN Stack
      <small>Add Books</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Books</li>
    </ol>
  </section>
  <section class="content">
    <form role="form">
      <label for="name" class="control-label">Name : </label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control">
    </form>

    <button (click)="addBook()" class="btn btn-primary btn-flat"> Add Book</button>
  </section>
</div>